@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    box-sizing: border-box;
}

body {
    background: url("https://images.unsplash.com/photo-1464802686167-b939a6910659?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2533&q=80") fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    font-weight: 200;
    font-size: 3rem;
    margin: 3rem 2rem 0;
}

.countdown-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3rem 0;
    height: 610px;
}

.days-container, .hours-container, .minutes-container, .seconds-container {
    text-align: center;
    width: 120px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

span {
    font-size: 0.9rem;
    font-weight: 400;
}

.big-text {
    font-size: 2.5rem;
    font-weight: 200;
    margin: 0;
}

@media only screen and (min-width: 760px) {
    h1 {
        font-size: 4rem;
    }
    
    .countdown-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 2rem;
        width: 700px;
        height: auto;
    }
}